body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e91e63;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.birthday-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.birthday-message {
    color: #555555;
    font-size: 1.2em;
    margin: 20px 0;
}

#whatsapp-button {
    background-color: #25d366;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#whatsapp-button:hover {
    background-color: #20b358;
}

